body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background: black;
      font-family: 'Raleway', sans-serif;
}

.timer-container {
      outline: 10px solid red;
      width: 100%;
      height: 100vh;
      font-size: 235px;
      background: black;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: white;
      writing-mode: vertical-lr;
}
